---
---

@import "{{ site.theme }}";

body {
}

pre, code {
    font-size: 16pt;
    border: none;
    border-radius: none;
    border-radius: 0;
    background-color: white;
}

.highlighter-rouge .highlight {
    background: #fff;
}
.highlight {
    background: white;
}
